@tailwind base;
@tailwind components;
@tailwind utilities;


.animate-custom-bounce-1{
    animation: custom-bounce 1.5s ease-in-out infinite;
    transition: all;
}
.animate-custom-bounce-2{
    animation: custom-bounce 2s ease-in-out infinite;
    transition: all;
}
.animate-custom-bounce-3{
    animation: custom-bounce 2.5s ease-in-out infinite;
    transition: all;
}

@keyframes custom-bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-15px);
    }
  }

  